/*
 *	layout.css
 */
 body {
	 background: #F0F0F0;
 }
 
 /* derpin' with custom YUI grids */
 #custom-doc {
	margin: auto;
	text-align: left; /* leave unchanged */
	width: 73.84em; /* non-IE */
	*width: 73.00em; /* IE */
	min-width: 960px;/* optional but recommended */
	 
	 background: yellow;
 }
 
 #yui-main > .yui-b {
	 background: black;
	 color: white;
 }
 
 .yui-b {
	 background: blue;
	 color: white;
 }
 
 /* twitter bootstrap grids */
 [class*="column"] {
	 background: white;
	 
	 margin-bottom: 20px;
 }
 .container {
 }
 
 .column-one-third {
 }